In [ ]:
foo: int = 1

In [ ]:
bar: str = foo

In [ ]:
%sql
SELECT 1 AS foo, 2 AS bar